<h1>Список отделов</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				название
			</th>
		</tr>
	</thead>
	<tbody>
	<% @departaments.each do |depart| %>
		<tr>
			<td>
				<%= depart.name %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>