<h4 class="text-center">Список отделов</h4>

<table class="table">
	<thead>
		<tr>
			<th>
				название
			</th>
		</tr>
	</thead>
	<tbody>
	<% @departaments.each do |department| %>
		<tr>
			<td>
				<%= department.name %>
			</td>
			<td>
				<%= link_to 'Edit',  edit_departament_path(department) %>
			</td>
			<td>
				<%= link_to 'Delete', delete_departament_path(department), :method=>:delete %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>